@model mvc_btl.Areas.Admin.Models.TACGIA

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAd.cshtml";
}

<h2>Chi tiết tác giả</h2>

<div align="center">
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            @{
                //Lấy  đường  dẫn  file  ảnh
                string ImagePath = "~/Areas/Asset/images/" + Model.Anh;
            }
            <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
            <br />

            @Html.DisplayFor(model => model.Anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quequan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quequan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tieusu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tieusu)
        </dd>

    </dl>
</div>
<p align="center">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaTG }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
<style>
    .dl-horizontal {
        margin: auto;
        width: 50%;
        border: 2px solid green;
        padding: 10px;background-color:aquamarine;
    }
    h2{
        text-align:center;
        color:yellow;
    }
</style>