@model IEnumerable<mvc_btl.Areas.Admin.Models.TACGIA>

@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAd.cshtml";
}

<div class="card-header">
    <i class="fas fa-table mr-1"></i>
    <strong>Admin</strong>
    <button class="nv btn add-new" type="button" data-toggle="tooltip" data-placement="top">

        <i class="fas fa-user-plus"></i>@Html.ActionLink("Thêm", "Create")

    </button>

    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="nhập..." aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
            <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
        </div>
        <div></div>
            @*@using (Html.BeginForm())
            {
            <p>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Tìm" />
                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </p>
            }*@



        </div>
    </form>
</div>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.TenTG)*@
            Tên Tác giả
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Anh)*@
            Ảnh
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Ngaysinh)*@
            Ngày sinh
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Quequan)*@
            Quê quán
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Tieusu)*@
            Tiểu sử
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTG)
            </td>
            <td>

                @{
                    //Lấy  đường  dẫn  file  ảnh
                    string ImagePath = "~/Areas/Asset/images/" + item.Anh;
                }
                <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
                <br />
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quequan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tieusu)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaTG }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaTG }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaTG })
            </td>
        </tr>
    }

</table>
<style>
    table {
        background-color: yellow;
        text-align: center;
        border: 1px solid black;
    }

    th {
        border: 1px solid black;
    }

    td {
        border: 1px solid black;
    }
</style>
